.footer{
    margin-top: 5em;
}
.footer section{
    display: flex;
    flex-wrap: wrap;;
}
.sec{
    width: 31%;
    min-width: 335px;
    margin-left: 3vh;
    margin-bottom: 7vh;
}
.sec p{text-align: center;}
.line{
    border-top: 2px solid #777;
    margin-top: 4vh;
    margin-bottom: 3vh;
}
.footer input{
    text-align: center;
    padding: 2vh;
    margin-top: 2vh;
    text-align: center;
}
.footer input[type='submit']{
    background-color: black;
    padding: 3vh 4vh;
    color: #fff;
    cursor: pointer;
}
.msg{
    text-align: center;
    padding: 4vh;
    color: #291488;
}
.text{
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.icons{
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}
.icons svg{
    margin-left: 1em;
    cursor: pointer;
}