.nav{
    background-color: #464671;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.cont{
    display: flex;
    justify-content: space-between;
}
.title,
.welcome,
.ul a{
    cursor: pointer;
    padding: 3vh;
    color: #fff;
}
.welcome{cursor:auto;}
.ul{
    display: flex;
}
.ul a:hover{
    background-color: #d8d8f1;
    color: #000;
}
.ul a.active{
    background-color: #fff;
    color: #000;
}
.menu{
    display: none;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    padding: 3vh;
    /* margin-left: 4em;
    margin-bottom: 1.5em; */
}
.menu div{
    background-color: black;
    width: 1em;
    height: 2px;
    transition: all .4s ease-in-out 0s;
}
.menu div:first-of-type{transform: translateY(-2px);}
.menu div:last-of-type{transform: translateY(2px);}
.active div:first-of-type{transform: translateY(1px) rotate(135deg);}
.active div:last-of-type{transform: translateY(-1px) rotate(45deg);}
.dropdown{
    background-color: rgb(151, 189, 189);
    display: none;
    position: absolute;
    z-index: 999999;
    /* background-color:white; */
    width: 100em;
    height: 100em;
    flex-direction: column;
    /* justify-content: space-between; */
    left: 0px;
    top: 10vh;
    /* bottom: 0; */
}
.dropdown.show{display: flex;}
.dropdown a{
    /* background-color: #d91515; */
    padding: 5vh;
}
.dropdown a:hover{
    background-color: aqua;
}
.line{border-bottom: 1px solid black;}

@media only screen and (max-width: 768px) {
    .menu{display: flex;}
    .ul{
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .dropdown{
        visibility: hidden;
    }
}