.page{
    background-color: #6d9ac4;
    position: absolute;
    top: 0;
    width: 100%;
}
.signup{
    background-color: #fff;
    width: 25em;
    margin: 70px auto;
    border-radius: 8px;
    padding: 3em;
    color: #756d6d;
}
.signup input,
.signup button{
    display: block;
    border: 1px solid rgb(185, 163, 163);
    border-radius: 8px;
    padding: 1em;
    width: 100%;
    margin-bottom: 2em;
    cursor: pointer;
}
.gender{
    display: flex;
}
.gender input{width: auto;}
.signup form button{
    background-color: #ee5684;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1em;
}
.or{
    border-top: 1px solid rgb(173, 155, 155);
    text-align: center;
    line-height: .1;
    margin: 3em 0;
}
.or span{
    background-color: #fff;
    padding: .6em;
    border: 1px solid rgb(173, 155, 155);
}
.svg{
    display: flex;
    justify-content: center;
}
.svg svg{
    margin-right: 1em;
    cursor: pointer;
    color: black;
}
.login{
    margin-top: 3em;
    text-align: center;
}
.login a{
    font-weight: bold;
    color: black;
}

@media only screen and (max-width: 600px) {
    .page{background-color: #ccc;}
    .signup{
        width: 20em;
        padding: 0 2em;
        background-color: #ccc;
    }   
}